baseURL = 'https://ungeho.netlify.app/'
languageCode = "ja"
defaultContentLanguage = "ja"
hasCJKLanguage = true
title = 'ungehoBlog'
theme = 'PaperMod'

enableRobotsTXT = true
buildDrafts = false
buildFuture = false
buildExpired = false

# メニュー（ヘッダー右側）
[[menu.main]]
identifier = "about"
name = "About"
url = "/about"
weight = 15

[[menu.main]]
identifier = "posts"
name = "Posts"
url = "/posts"
weight = 5

[[menu.main]]
identifier = "archives"
name       = "Archive"
url        = "/archives/"
weight     = 30


[[menu.main]]
identifier = "search"
name = "Search"
url = "/search"
weight = 20

[[menu.main]]
identifier = "categories"
name = "Categories"
pageRef = "/categories"
weight = 25

[[menu.main]]
identifier = "tags"
name = "Tags"
pageRef = "/tags"
weight = 30

[params]
    title = 'ungehoBlog'
    description = 'ungeho'
    author = 'ungeho'
    DateFormat = "2006/01/02"
    defaultTheme = 'auto'

    ShowReadingTime = true
    ShowShareButtons = true
    ShareButtons = ["x"]

    ShowPostNavLinks = true
    ShowBreadCrumbs = true
    ShowCodeCopyButtons = true
    disableThemeToggle = false
    disableScrollToTop = false
    comments = false

    math = true

    [params.assets]
        favicon = "favicon.ico"
        favicon16x16 = "favicon/favicon-16x16.png"
        favicon32x32 = "favicon/favicon-32x32.png"
        apple_touch_icon = "favicon/apple-touch-icon.png"

    [params.profileMode]
        enabled = true
        title = "Ungeho"
        subtitle = "ネトゲ大好きおたく"
        imageUrl = "profile.png"
        imageWidth = 256
        imageHeight = 256

    [[params.profileMode.buttons]]
        name = "Posts"
        url = "/posts"

    [[params.profileMode.buttons]]
        name = "Github"
        url = "https://github.com/ungeho"

    [[params.socialIcons]]
        name = "x"
        url = "https://x.com/"

    [[params.socialIcons]]
        name = "github"
        url = "https://github.com/ungeho"

[markup]
    [markup.highlight]
        noClasses = false

[outputs]
home = ["HTML", "RSS", "JSON"]
