[params]
    title = 'ungehoBlog'
    description = 'ungeho'
    author = 'ungeho'
    DateFormat = "2006/01/02"
    defaultTheme = 'auto'

    ShowReadingTime = true
    ShowShareButtons = true      # ← ここにまとめる
    ShareButtons = ["x"]         # ← X だけ

    ShowPostNavLinks = true
    ShowBreadCrumbs = true
    ShowCodeCopyButtons = true
    disableThemeToggle = false
    disableScrollToTop = false
    comments = false

    [params.assets]
        favicon = "favicon.ico"
        favicon16x16 = "favicon/favicon-16x16.png"
        favicon32x32 = "favicon/favicon-32x32.png"
        apple_touch_icon = "favicon/apple-touch-icon.png"

    [params.profileMode]
        enabled = true
        title = "Ungeho"
        subtitle = "ネトゲ廃人"
        imageUrl = "profile.png"
        imageWidth = 256
        imageHeight = 256

    [[params.profileMode.buttons]]
        name = "Posts"
        url = "/posts"

    [[params.profileMode.buttons]]
        name = "Github"
        url = "https://github.com/ungeho"

    [[params.socialIcons]]
        name = "x"
        url = "https://x.com/"

    [[params.socialIcons]]
        name = "github"
        url = "https://github.com/ungeho"
