{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

{{- partial "taxonomy/intro.html" . }}

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- $notes := index site.Data.taxonomy_notes $type }}
    {{- $terms := .Data.Terms.Alphabetical }}
    {{- if eq $type "series" }}
      {{- $terms = .Data.Terms.ByCount }}
    {{- end }}
    {{- range $key, $value := $terms }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    {{- $termDesc := .Description }}
    {{- if and (not $termDesc) $notes }}
      {{- with index $notes $name }}
        {{- $termDesc = index . "description" }}
      {{- end }}
    {{- end }}
    <li>
        <a href="{{ .Permalink }}">
            <span class="terms-name">{{ .Name }}</span>
            <span class="terms-count">{{ $count }} posts</span>
            {{- with $termDesc }}
            <span class="terms-description">{{ . }}</span>
            {{- end }}
        </a>
    </li>
    {{- end }}
    {{- end }}
</ul>

{{- end }}{{/* end main */ -}}
