{{- $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) -}}
{{- $description := .Description | default (.Summary | plainify | htmlUnescape) | default site.Params.description -}}
{{- $image := partial "templates/og_image.html" . -}}
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
{{- with $image }}
<meta property="og:image" content="{{ . }}">
{{- end }}
{{- if .IsPage }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{- with .Lastmod }}<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{- end }}
{{- range .Params.tags }}<meta property="article:tag" content="{{ . }}">{{- end }}
{{- end }}
