{{- if eq .Type "alert" -}}
<blockquote class="alert alert-{{ .AlertType }}">
    <p class="alert-heading">
        {{- with .AlertTitle -}}
        {{ . }}
        {{- else -}}
        {{- if eq .AlertType "note" -}}Note
        {{- else if eq .AlertType "tip" -}}Tip
        {{- else if eq .AlertType "important" -}}Important
        {{- else if eq .AlertType "warning" -}}Warning
        {{- else if eq .AlertType "caution" -}}Caution
        {{- end -}}
        {{- end -}}
    </p>
    {{ .Text }}
</blockquote>
{{- else -}}
<blockquote>
    {{ .Text }}
</blockquote>
{{- end -}}
